[submodule "auth"]
	path = auth
	url = https://github.com/i3alumba/auth
[submodule "drive"]
	path = drive
	url = https://github.com/i3alumba/drive
[submodule "dashboard"]
	path = dashboard
	url = https://github.com/i3alumba/dashboard
